cmake-build-*/
test*/
**/*.o
**/*.a
*.log
Test/
.idea/
.vscode/
test.cpp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
node_modules
DartConfiguration.tcl
train-ticket-system
TicketSystem.cbp
user_index
user_data
train_index
train_data
ticket_data
station_index
user_ticket_data
user_index_log
user_data_log
train_index_log
train_data_log
ticket_data_log
station_index_log
user_ticket_data_log
